<div class="footer-distributed">

    <div class="footer-right">
        <a href="#"><img src="\static\icons\Telegicon.png" width="35" height="35" alt="Telegram"></a>
        <a href="https://www.instagram.com"><img src="\static\icons\Insticon.png" width="35" height="35" alt="Instagram"></a>
        <a href="https://www.twitter.com"><img src="\static\icons\Twiticon.png" width="35" height="35" alt="Twitter"></a>
        <a href="#"></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a href="/">Home</a>
            <a href="/all_auctions">Auctions</a>
            <a href="/lots">My Lots</a>
            <a href="/home/about">About</a>
            <a href="/home/contacts">Contacts</a>
            <a href="/home/contacts">Contacts</a>
            <a href="/home/contacts">Contacts</a>
        </p>
        <p>Yourtrash &copy; 2020</p>
    </div>

</div>
