<div class="slide-container">
    <div class="slide">
      <div class="slide-content"><a class="leftbar" href="https://www.instagram.com">Instagram</a></div>
      <div class="slide-header"><img src="\static\icons\Insticon.png" width="34" height="34" alt="Instagram"></div>
    </div>
    <div class="slide">
      <div class="slide-content">@Auction</div>
      <div class="slide-header"><img src="\static\icons\Telegicon.png" width="36" height="36" alt="Telegram"></div>
    </div>
    <div class="slide">
      <div class="slide-content"><a class="leftbar" href="https://www.twitter.com">Twitter</a></div>
      <div class="slide-header"><img src="\static\icons\Twiticon.png" width="36" height="36" alt="Twitter"></div>
    </div>
</div>
